body {
    font-family: Arial, sans-serif;
    background-color: #2a2a2a;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height */
    width: 100vw;  /* Full width */
    background-color: #363636;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    color: #ffffff;
    font-size: 2.5rem; /* Increase font size of h1 */
    
    font-style: normal;
    margin-bottom: 20px; /* Add some margin below the heading */
}

input[type="text"], input[type="date"], input[type="time"] {
    width: 100%;
    max-width: 600px; /* Increase max width */
    padding: 15px; /* Increase padding */
    font-size: 1rem; /* Increase font size */
    margin-top: 15px; /* Increase top margin */
    margin-bottom: 15px; /* Increase bottom margin */
    border-radius: 10px; /* Increase border-radius for more rounded corners */
    border: 1px solid #000000;
}

button {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 30px; /* Increase padding */
    border-radius: 10px; /* Increase border-radius for more rounded corners */
    cursor: pointer;
    font-size: 1rem; /* Increase font size */
    margin-top: 15px; /* Increase top margin */
}

button:hover {
    background-color: #0003b3;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    color: #ffffff;
    width: 100%;
    max-width: 600px; /* Increase max width */
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px; /* Increase padding */
    border-bottom: 1px solid #ddd;
    width: 100%;
}

li.completed {
    text-decoration: line-through;
    color: #ffffff;
}

.remove-button {
    background-color: rgba(0, 0, 0, 0.771);
    color: white;
    border: none;
    padding: 8px; /* Increase padding */
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem; /* Increase font size */
}

.remove-button:hover {
    background-color: rgb(255, 0, 0);
}
