body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(background.png);
    padding: 0;
}

h1 {
    margin: 20px 0;
    font-size: 3em;
    color: #ffffff; 
    text-shadow: 1px 1px 2px #000000; 
    text-shadow: 2px 2px 3px #000000; 
    padding-bottom: 250px;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreboard {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.choices {
    display: flex;
    justify-content: center;
}

.choice {
    margin: 0 15px;
    cursor: pointer;
    background-color: #ffffff; 
    border: 2px solid #0008ff; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.choice img {
    width: 100px;
    transition: transform 0.3s;
}

.choice p {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

.result {
    margin-top: 20px;
    font-size: 1.5em;
    color: #ffffff;
}

.final-score {
    margin-top: 10px;
    font-size: 1.3em;
    color: #666;
}

#play-again {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ffffff; /* White background for the button */
    color: #333; /* Black text color for the button */
    border: 2px solid #007bff; /* Blue border around the button */
    cursor: pointer;
    border-radius: 5px;
}

#play-again:hover {
    background-color: #b7b7b7; /* Slightly grey background on hover */
    border-color: #0c7aef; /* Darker blue border on hover */
}
#user-name-container {
    text-align: center;
    margin-top: 20px;
}

#user-name {
    padding: 10px;
    font-size: 1em;
    margin-right: 10px;
}

#start-game {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #000000; /* Cor do botão */
    color: #fff; /* Cor do texto do botão */
    border: 2px solid #ffffff; 
    cursor: pointer;
    border-radius: 5px;
}

#start-game:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}
